<article class="post-item <%= item.layout %>">
	<div class="post-content">
		<header>
			<% if (!item.hideInList ) { %>
				<div class="meta">
					<div class="icon">
						<div class="svg-icon">
							<svg t="1583337385865" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1941" width="200" height="200"><path d="M658.285714 292.571429l0-269.677714q12.580571 7.972571 20.553143 16.018286l233.179429 233.179429q7.972571 7.972571 16.018286 20.553143l-269.677714 0zM585.142857 310.857143q0 22.820571 16.018286 38.838857t38.838857 16.018286l310.857143 0 0 603.428571q0 22.820571-16.018286 38.838857t-38.838857 16.018286l-768 0q-22.820571 0-38.838857-16.018286t-16.018286-38.838857l0-914.285714q0-22.820571 16.018286-38.838857t38.838857-16.018286l457.142857 0 0 310.857143z" p-id="1942"></path></svg>
						</div>
					</div>
					<time datetime="<%= item.date %>"><%= item.date %></time>
				</div>
			<% } %>

			<% if (index) { %>
				<h1 class="title" data-role="articleTitle"><a href="<%= item.link %>"><%= item.title %></a></h1>
			<% } else { %>
				<h1 class="title"><%= item.title %></h1>
			<% } %>
		</header>
		<% if (themeConfig.showFeatureImage && item.feature) { %>
			<div class="feature-container" >
				<a class="right" href="<%= item.link %>" style="background-image: url('<%= item.feature %>')">
				</a>
			</div>
		<% } %>
		<div class="entry">
			<% if (item.abstract !== "" && index) { %>
				<%- item.abstract %>
			<% } else { %>
				<%- item.content %>
			<% } %>
		</div>
		<footer class="clearfix">
			<% if (index && item.abstract !== "") { %>
				<div class="read-more">
					<a href="<%= item.link %>#more" class="more-link"><i class="fa fa-ellipsis-h"></i><%= themeConfig.excerpt_link %></a>
				</div>
			<% } %>

			<% if (item.tags && item.tags.length) { %>
				<div class="tags">
					<div class="svg-icon">
						<svg t="1583339588481" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3306" width="200" height="200"><path d="M896 528c0-0.288-0.032-0.528-0.048-0.784a43.744 43.744 0 0 0-0.208-4.128l-0.128-0.752a43.056 43.056 0 0 0-0.624-4.032v-0.08a47.76 47.76 0 0 0-13.44-24.496L514.016 142.144A47.84 47.84 0 0 0 480 128l-0.128 0.016v-0.128H176V128a48 48 0 0 0-48 48h-0.112v304.784h0.208a47.68 47.68 0 0 0 16.368 35.136l-0.176 0.192 400 368 0.096-0.08c6.32 5.568 14.064 9.472 22.688 11.088 0.336 0.08 0.72 0.128 1.072 0.176A43.584 43.584 0 0 0 576 896c14.656 0 27.744-6.576 36.544-16.944l0.016 0.032 272-320-0.016-0.032A47.68 47.68 0 0 0 896 528zM256 320a64 64 0 1 1 0-128 64 64 0 0 1 0 128z" fill="" p-id="3307"></path></svg>
					</div>
					<% item.tags.forEach(function(tag) { %>
						<a href="<%= tag.link %>">#<%= tag.name %></a>
					<% }); %>
				</div>
			<% } %>

			<% if (!index) { %>
				<% if (post.nextPost && !post.hideInList) { %>
					<div class="next-post">
					<div class="next">下一篇</div>
					<a href="<%= post.nextPost.link %>">
						<h3 class="post-title">
						<%= post.nextPost.title %>
						</h3>
					</a>
					</div>
				<% } %>
				<% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
					<% if (commentSetting.commentPlatform === 'gitalk') { %>
					<div id="gitalk-container" data-aos="fade-in"></div>
					<% } %>

					<% if (commentSetting.commentPlatform === 'disqus') { %>
					<div id="disqus_thread" data-aos="fade-in"></div>
					<% } %>
				<% } %>
			<% } %>

		</footer>
	</div>
</article>